@use '../abstract/_variables' as v;

@mixin reset-list(){
    display: flex;
    list-style-type: none;
    gap: 56px;
    align-items: center;
    li{
        a{
            text-decoration: none;
        }
    }
}

@mixin title(){
    font-size: 22px;
    font-weight: v.$font-bold;
}

@mixin description(){
    font-size: 16px;
    font-weight: v.$font-regular;
}